@import url('https://fonts.googleapis.com/css?family=Anton|Open+Sans');

$primary-font: 'Anton', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: $secondary-font;
}

.hero-padding.hero-padding {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

img.random-image {
  height: 120px;
}

.title, .subtitle {
  font-family: $primary-font;
}
